*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}
a{
    text-decoration: none;
    color: aliceblue;
    padding: 50px;
   
}

a:hover{
    color: black;
}

div a:hover{

    color: black;
    font-size: 30px;

}

p{
    color: black;
    background-color: rgb(238, 232, 232);
    width: 500px;
   margin: 0 auto;
   
}

h1{
    color: #FFFAF0;
    text-align: center;
}

img{
    width: 350px;
    height: 250px;
}

input{
    width: 300px;
    height: 30px;
    margin: 5px;
}

textarea{
    width: 300px;
    height: 60px;
    margin: 5px;
}

button{
    width: 150px;
    height: 40px;
}

#barra{
    background-color: #FF4500;
    color: aliceblue;
    text-align: center;
    height: 50px;
    font-size: 24px;
    
}

#home{

    background-color: #FFFAF0;
    height: 100vh;
    text-align: center;
    padding: 50px;

}

.home1{

    float: left;
    margin: 20px;
    background-color: #FF4500;
    width: 30%;
    height: 60%;
    border-radius: 10px;
    

}

.visite{
    width: 150px;
    height: 25px;
    background-color: #FFFAF0;
    font-weight: bold;
    color: #FF4500;
    cursor: pointer;
    border-radius: 10px;
   
}


#sobre{

    background-color: #FF4500;
    height: 100vh;
    text-align: center;
    padding: 20px;


}

#imgEU{
    width: 300px;
    height: 300px;
    border-radius: 100px;
}

#contato{

    background-color: #FFFAF0;
    height: 100vh;
    text-align: center;
    padding: 20px;

}